{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} View Admin Tickets {% endblock %}

{% block content %}

<h1>Showing all tickets created within the system.</h1>
<br />

<h3>Filter by ticket status</h3>
<a href="{{ url_for('admin.view_admin_tickets', status='Open' ) }}" class="btn btn-primary">Open</a>
<a href="{{ url_for('admin.view_admin_tickets', status='In Progress' ) }}" class="btn btn-primary">In Progress</a>
<a href="{{ url_for('admin.view_admin_tickets', status='Resolved' ) }}" class="btn btn-primary">Resolved</a>
<a href="{{ url_for('admin.view_admin_tickets', status='Closed' ) }}" class="btn btn-primary">Closed</a>
<a href="{{ url_for('admin.view_admin_tickets', status='all' ) }}" class="btn btn-danger">Reset</a>
<br />
{% for ticket in tickets %}
<br />
<div class="container">
    {% if ticket.status == 'Open' %}
        <div class="card border-primary">
    {% elif ticket.status == 'In Progress' %}
        <div class="card border-warning">
    {% elif ticket.status == 'Resolved' %}
        <div class="card border-success">
    {% elif ticket.status == 'Closed' %}
        <div class="card border-danger">
    {% endif %}
        <div class="card-body text-center">
            <h4 class="card-title">{{ ticket.title }}</h4>
            <div class="table-responsive">
                <table class="table">
                <thead class="thead">
                    <tr background-colour="#005eb8">
                        <th scope="col">Ticket ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Assigned To</th>
                        <th scope="col">Contact Number</th>
                        <th scope="col">Affected Item</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{{ ticket.id }} </th>
                            <td>{{ ticket.title }}</td>
                            <td>{{ ticket.description }}</td>
                            {% if ticket.assigned_to == null or ticket.assigned_to == None %}
                                <td>Unassigned</td>
                            {% else %}
                                <td>{{ ticket.assigned_to.first_name + " " + ticket.assigned_to.last_name }}</td>
                            {% endif %}
                            <td>{{ ticket.contact_number }}</td>
                            <td>{{ ticket.affected_item }}</td>
                            {% if ticket.status == 'Open' %}
                                <td class="bg-info"> {{ ticket.status }} </td>
                            {% elif ticket.status == 'In Progress' %}
                                <td class="bg-warning"> {{ ticket.status }} </td>
                            {% elif ticket.status == 'Resolved' %}
                                <td class="bg-success"> {{ ticket.status }} </td>
                            {% elif ticket.status == 'Closed' %}
                                <td class="bg-danger"> {{ ticket.status }} </td>
                            {% endif %}
                        </tr>
                </tbody>
                </table>
            </div>
            {% if not current_user.id == ticket.assigned_to_id %}
                <a href="{{ url_for('admin.assign_ticket', ticket_id = ticket.id ) }}" class="btn btn-primary">Assign To Me</a>
            {% else %}
                <a href="{{ url_for('admin.unassign_ticket', ticket_id = ticket.id ) }}" class="btn btn-primary">Unassign</a>
            {% endif %}
            <a href="{{ url_for('admin.edit_ticket_admin', ticket_id = ticket.id ) }}" class="btn btn-primary">Edit Ticket</a>
            <a href="{{ url_for('admin.delete_ticket', ticket_id = ticket.id ) }}" class="btn btn-primary">Delete Ticket</a>
        </div>
    </div>
</div>
<br />
{% endfor %}
{% endblock %}