<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand text-light" href="{{ url_for('routes.home') }}">Ticket System</a>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            {% if current_user.is_authenticated %}
              <li class="nav-item active">
                <a class="nav-item nav-link" id="home" href="{{ url_for('routes.home') }}">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Tickets
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{ url_for('tickets.create_ticket') }}">Create Ticket</a>
                  {% if current_user.is_admin %}
                  <a class="dropdown-item" href="{{ url_for('tickets.view_open_tickets') }}">View Open Tickets</a>
                  <a class="dropdown-item" href="{{ url_for('admin.view_assigned_tickets') }}">View All Assigned Tickets</a>
                  <a class="dropdown-item" href="{{ url_for('admin.view_admin_tickets', status='all') }}">View All Tickets</a>
                  {% else %}
                  <a class="dropdown-item" href="{{ url_for('tickets.view_open_tickets') }}">View Open Tickets</a>
                  <a class="dropdown-item" href="{{ url_for('tickets.view_tickets', status='all') }}">View All Tickets</a>
                  {% endif %}
                  
                </div>
              </li>
              {% if current_user.is_admin %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Users
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ url_for('admin.create_new_user') }}">Create new User</a>
                    <a class="dropdown-item" href="{{ url_for('admin.view_regular_users') }}">View Regular Users</a>
                    <a class="dropdown-item" href="{{ url_for('admin.view_admin_users') }}">View Admin Users</a>
                  </div>
                </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-item nav-link" id="logout" href="{{ url_for('auth.logout') }}">Logout</a> 
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-item nav-link" id="login" href="{{ url_for('auth.login') }}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link" id="signup" href="{{ url_for('auth.signup') }}">Signup</a>
              </li>
            {% endif %}
          </ul>
          {% if current_user.is_authenticated %}
            <span class="navbar-text text-light">
              Welcome {{ current_user.first_name }}
            </span>
          {% endif %}
        </div>
      </nav>

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %} 
        {% for category, message in messages %}
          {% if category == 'error' %}
            <div class="alert alert-danger alter-dismissable fade show" role="alert" id="success-error">
              {{ message }}
            </div>
          {% else %} 
            <div class="alert alert-success" role="alert" id="success-alert">
              {{ message }}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      {% endwith %}

      <div class="container">{% block content %} {% endblock %}</div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>

      <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>

      <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
  </body>
</html>