{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} View Open Tickets {% endblock %}

{% block content %}

<h1>Showing all created tickets for {{ current_user.first_name }} </h1>
<br />

<br />
{% for ticket in tickets %}
<br />
<div class="container">
    <div class="card border-primary">
        <div class="card-body text-center">
            <h4 class="card-title">{{ ticket.title }}</h4>
            <div class="table-responsive">
                <table class="table">
                <thead class="thead">
                    <tr background-colour="#005eb8">
                        <th scope="col">Ticket ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Assigned To</th>
                        <th scope="col">Contact Number</th>
                        <th scope="col">Affected Item</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{{ ticket.id }} </th>
                            <td>{{ ticket.title }}</td>
                            <td>{{ ticket.description }}</td>
                            {% if ticket.assigned_to == null or ticket.assigned_to == None %}
                                <td>Unassigned</td>
                            {% else %}
                                <td>{{ ticket.assigned_to.first_name + " " + ticket.assigned_to.last_name }}</td>
                            {% endif %}
                            <td>{{ ticket.contact_number }}</td>
                            <td>{{ ticket.affected_item }}</td>
                            <td class="bg-info"> {{ ticket.status }} </td>
                        </tr>
                </tbody>
                </table>
            </div>
            <a href="{{ url_for('tickets.edit_ticket', ticket_id = ticket.id ) }}" class="btn btn-primary">Edit Ticket</a>
            {% if ticket.status == 'Open' or ticket.status == 'In Progress' %}
                <a href="{{ url_for('tickets.change_ticket_status', ticket_id = ticket.id, status = 'Resolved' ) }}" class="btn btn-primary">Resolve Ticket</a>
                <a href="{{ url_for('tickets.change_ticket_status', ticket_id = ticket.id, status = 'Closed' ) }}" class="btn btn-primary">Close Ticket</a>
            {% elif ticket.status == 'Resolved' %}
                <a href="{{ url_for('tickets.change_ticket_status', ticket_id = ticket.id, status = 'Closed' ) }}" class="btn btn-primary">Close Ticket</a>
            {% endif %}
        </div>
    </div>
</div>
<br />
{% endfor %}
{% endblock %}